.DS_Store

npm
npm-debug.log
node_modules/

pids
*.pid
logs
*.log
public/nav.js
public/descriptions.js
public/images.js
public/morehomes.js
public/reviews.js
public/booking.js
public/vendor.js

coverage

.grunt

build/
dist/
